//SECTION: APPLIES TO ALL
*{
    box-sizing: border-box;
}
body, html{
    font-family: "GoogleSans","Helvetica";
    height: calc(100% - 2em);
    margin: 0;
    min-width: 375px;
}

main>section{
    padding: .5em;
}
main{
    padding: .50em;
    margin: .50em;
}

img{
    width: 100%;
}

//SECTION: GENERAL TYPOGRAPHY
h1 {
    font-weight: 300;
    font-size: 1.7rem;
    margin-top: 0;
}
p {
    margin-top: 0;
}
p:last-of-type{
    margin-bottom: 0;
    line-height: 1.5;
}
a{
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}


//SECTION: base_aside_section
#base_aside_section{
    margin: 0;
    padding: 0;
    position: relative;
    aside{
        background-color: $primary1;
        border-radius: 0px 0px 15px 15px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 1em 1em;       
        padding-top: 1.5em;
        position: relative;       
        width: 100%;
        z-index: 1000;
    }
}

.aside_img{
    width: 2em;
}
.aside_img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.white_bg{
    background-color: #fff !important;
}


nav{
    background-color: $primary1;
    border-radius: 0 0 15px 15px;
    color:#fff;
    left: 25%;
    margin: 0 auto;
    padding: .5em;
    padding-bottom: .5em;
    position: absolute;
    width: 50%;
    z-index: 3000;
    ul{
        list-style: none;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        li{
            text-decoration: none;
            padding-bottom: .25em;
            a{
                color: #fff;
                font-size: .90em;
                font-weight: 600;
                text-decoration:none;
            }
        }
    }
}

#aside_down_arrow{
    transform: rotate(180deg);
    width: .5em;
}

#heading_div{
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    width: 50%;
    :hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    img{
        margin-top: .5em;
        width: .5em;
    }
    h1{
        color: #fff;
        font-size: 1.2rem;
        font-weight: 700;
        margin: .5em;
        text-align: center;
    }
}

