//SECTION: MAIN SECTIONS
#cart_section1{
    h1{
        font-size: 1.5rem;
        font-weight: 600;
    }
    h3{
        font-size: 1rem;
        font-weight: 600;
    }
    hr{
        margin: .5em auto;
    }
    // img{
    //     border-radius: 15px;
    //     width: 80%;
    // }
    .preview_div{
        grid-template-columns: 35% 60%;
        column-gap: 0;
    }
    .description_div{
        row-gap : 0;
    }

    .cust_checkbox{
        -webkit-appearance: none;
        background-color: #fff;
        border: 2px solid $checkbox_outline;
        border-radius: 6px;
        padding: .5em;
        display: inline-block;
        position: relative;
    }

    .cust_checkbox:active, .cust_checkbox:checked:active{
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }

    .cust_checkbox:checked{
        background-color: $checkbox_bg;
        border: 1px solid transparent;
        padding: .6em;
    }

    .cust_checkbox:checked:after {
        content: '\2713';
        font-size: 15px;
        position: absolute;
        top: -2px;
        left: 3px;
        color: #fff;
    }

    input[type="checkbox"]+label{
        color: $checkbox_text;
        font-size: .7rem;
        margin: 0;
        margin-left: 5px;
        position: relative;
        bottom: 3px;
    }
    .food_rating_div{
        color: #000;
        // position: relative;
        // width: 25% !important;
        background-color: $rating_badge_bg;

    }

}

.info_div{
    display: grid;
    grid-template-columns: 35% 45%;
    grid-template-rows: 50% 45%;
    img{
        height: 12px !important;
        margin-top: .3em;
        width: 12px !important;
    }
    h2{
        grid-column: span 3;
    }
    div{
        text-align: center;
    }
}

#ingredients{
    font-size: .75rem;
}


.dissolver{
    opacity: 0;
    position: relative;
	-webkit-animation: dissolve 2s ease;
	        animation: dissolve 2s ease;
}

@-webkit-keyframes dissolve {
	0% {
        opacity: 1;

	}
	50% {
		opacity: .7;
	}
	100% {
		opacity: 0;
	}
}

@keyframes dissolve {
    0% {
        opacity: 1;
	}
	50% {
		opacity: .7;
	}
	100% {
		opacity: 0;
	}

}


.ing_tri_ctnr{
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    svg{
        width: .5em;
        transform: rotate(270deg);
    }
}