#error_section1{
    padding: 1em;
    padding-top: 2em;
    h1{
        font-size: 1.8rem;
        text-align: center;
        letter-spacing: 1.2px;
        font-weight: 600;
    }
    a{
        text-decoration: none;
        color: $primary1;
        text-align: center;
    }
}