//SECTIONS: login_section1
#login_section1{
    h3{
        font-size: 1em;
        font-weight: 700;
        grid-column: span 2;
        text-align: center;
        margin: .5em;
        margin-bottom: 2em;
    }
}
//SECTION: login_section2
#login_section2{
    padding-top: 1.75em;
    font-size: .70em;
    div{
        padding-bottom: .90em;
    }
}


