//SECTION: banner_section
#rec_viewed_section1{
    *{
        box-sizing: border-box;
    }
}
//SECTION: favorites_section
#rec_viewed_section2{
}


.food_div{
    border-radius: 20px;
    height: max-content;
    margin: .5em;
    position: relative;
    width: 10em;
    p{
        bottom: 1.5em;
        font-size: .8rem;
        color: #fff;
        font-weight: 700;
        left: 0;
        margin: .5em;
        max-width: 90%;
        position: absolute;
    }
    img{
        border: 1px solid transparent;
        border-radius: 10px;
        width: 100%;
    }
    // svg{
    //     position: absolute;
    // }

}


.food_rate2{
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    gap: .1em;
    justify-content: center;
    margin: 1em;
    padding: .1em;
    position: absolute;
    width: 2.5em;
    height: 1em;
    p{
        color: #000;
        font-size: .6rem;
        font-weight: 700;
        margin: 0;
        position: initial;
    }

}

//SECTION: favorites_grid_section
#rec_viewed_section3{
    position: relative;
    // .favorites_grid{
    //     display: grid;
    //     grid-template-columns: 50% 50%;
    //     grid-template-rows: 50% 50%;
    //     gap: .8em;
    //     margin: 0 auto;
    // }

    .food_img{
        width: 25%;
        z-index: 999;
        // position: absolute;
        // border-radius: 20px;
        // z-index: 99;
        // opacity: .90;
        // max-width: 100%;
    }
}

// .food_div{
//     position: relative;
//     p:first-child{
//         color: white;
//         font-size: .7rem;
//         font-weight: 800;
//         position: absolute;
//         top: 40%;
//         left: 10%;
//         max-width: 70%;
//         max-height: 50%;
//         z-index: 100;
//         background-color: rgba(0,0,0,0.2);
//         text-overflow: ellipsis;
//         word-wrap: break-word;
//         overflow: hidden;
//         padding: .50em;
//         margin: .10em;
//     }
// }

// .new_rate_div{
//     background-color: #fff;
//     border-radius: 5px;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     max-height: 4em;
//     max-width: 65px;
//     padding: .2em;
//     position: absolute;
//     top: 15%;
//     left: 10%;
//     width: 30%;
//     z-index: 1000;
//     img{
//         width: 30%;
//     }
//     p{
//         font-size: .7rem;
//         font-weight: 600;
//     }
// }