//SECTION: COLORS
$primary1: #0BC2BE;
$primary_muted: #efefef;

$beef_bg: #e4e3f1;
$chicken_bg: #e4efdf;
$checkbox_bg: #a5d067;
$checkbox_shadow: #8dc641;
$checkbox_text: #737373;
$checkbox_outline: #737373;
$fb_blue: #3b5998;
$green_badge_text: #78997c; 
$green_badge_bg: #f0f6f6; 
$orange_badge_text: #ff9b1b; 
$orange_badge_bg: #fff0e3;
$pasta_bg: #fff0e2;
$red_badge_text: #fe646e; 
$red_badge_bg: #fee9e8;
$rating_badge_bg: #f6f7fb;
$servings_bg: #f6f7fb;
$watch_color: #FF9B1D;
$vegan_bg: #ffe9e8;

//SECTION: BREAKPOINTS
$tablet_bp: 768px;
$desktop_bp: 1024px;
$desktoplg_bp: 1200px;
