{% extends 'base.html' %}

{% block content %}
<main>
<!-- //SECTION: cart_section1 -->
    <section id="cart_section1">
        {% if models|length == 1 %}
            <h1>
                Your Order
            </h1>
        {% else %}
            <h1>
                Your Orders
            </h1>
        {% endif %}
        
        <div class="orders_ctnr">
            {% for model in models %}
                <div class="order_flex">
                    <img src={{model.img_locs.split('$')[0]}}>

                    <div class="order_description_flex">
                        <h3>
                            {{model.name}}
                        </h3>
                        
                        <div class="food_time_div food_rate_div">
                            <div>
                                <img src="{{ url_for('static', filename='images/assets/rating star.svg.svg') }}">
                                <p>
                                    {{model.rating}}
                                </p>
                            </div>
                        </div>
                        
                        <div class="food_time_div">
                            <div>
                                <img src="{{ url_for('static', filename='/images/assets/watch.svg.svg') }}">
                                <p class="uppercase">
                                    {{model.preptime}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ing_tri_ctnr">
                    <h3>
                        Ingredients
                    </h3>
                    <svg id="" class="ing_triangle" data-loop_index="{{loop.index}}" data-is_open=0 viewBox="0 0 47.726 42.814">
                        <g id="triangle" transform="matrix(-1, -0.017, 0.017, -1, 46.993, 42.814)" fill="#000">
                        <path d="M 46.14729690551758 41.5 L 0.8527040481567383 41.5 L 23.5 1.023981690406799 L 46.14729690551758 41.5 Z" stroke="none"/>
                        <path d="M 23.5 2.0479736328125 L 1.705413818359375 41 L 45.29458618164063 41 L 23.5 2.0479736328125 M 23.5 0 L 47 42 L 0 42 L 23.5 0 Z" stroke="none" fill="#fff"/>
                        </g>
                    </svg>
                </div>

                <div id="ingredients{{loop.index}}" class="ingredients_ctnr invisible" data-model_id="{{model._id}}" name="ingredients">
                    {% for choice in model.ingredients.split('$') %}
                        <div class="ingredients_list">
                            <input
                                id="choice{{loop.index}}"
                                class="cust_checkbox"
                                name="ingredients"
                                type="checkbox"
                                value={{choice}}
                            >
                            <label for="choice{{loop.index}}">
                                {{choice}}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            <hr>
            {% endfor %}
        </div>
<!-- //SECTION: FORM -->
        <form methods='POST' action=''>                
            {{form.order_submit(class="cta_btn_fill")}}
        </form>
    </section>
</main>

{% endblock %}

